{% extends "base.html" %}

{% block section %}
<form action="/new" method="post">

    <label for="date">Fecha:</label>
    <input type="date" id="date" name="date" value="{{dataForm.date}}"  required>

    <label for="concept">Concepto:</label>
    <input type="text" id="concept" name="concept" value="{{dataForm.concept}}" placeholder="Ingrese Concepto">
    
    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="quantity" value="{{dataForm.quantity}}" placeholder="Ingrese Cantidad " step="0.01">

    <button type="submit">Guardar</button>
  
</form>

<article>
    <ul>
       {% for item in msgError %}     
            <li class="error">{{item}}</li>
       {% endfor %}     
    </ul>
</article>
{% endblock %}