{% extends "base.html" %}

{% block section %}
<h1>ALTA REGISTRO</h1>
<form action="/new" method="post">
    {{dataForm.csrf_token}}

    {{dataForm.date.label}}
    {{dataForm.date}}
    {% if dataForm.date.errors %}
    <ul class="errors">
    {% for error in dataForm.date.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.concept.label}}
    {{dataForm.concept(placeholder="Ingrese Concepto")}}
    {% if dataForm.concept.errors %}
    <ul class="errors">
    {% for error in dataForm.concept.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.quantity.label}}
    {{dataForm.quantity(placeholder="Ingrese Cantidad ")}}
    {% if dataForm.quantity.errors %}
    <ul class="errors">
    {% for error in dataForm.quantity.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {{dataForm.submit}}
    

</form>

<article>
    <ul>
       {% for item in msgError %}     
            <li class="error">{{item}}</li>
       {% endfor %}     
    </ul>
</article>
{% endblock %}